@import "css3-mixins";
#nagware {
  $nag-height: 25px;
  position: absolute;
  position: fixed;
  z-index: 999999;
  top: 0; left: 0; right: 0;
  @include linear-gradient(lighten(#ffe600, 2%), #ffe600);
  border-bottom: 1px solid #bd8d00;
  height: $nag-height;
  line-height: $nag-height;
  @include box-sizing;
  text-align: center;
  color: #000;
  a.supported-browsers {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
  }

  a.close {
    position: absolute;
    right: 10px;
    top: -2px;
    color: rgba(0,0,0,.8);
    font-weight: 0;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}
