<div class="filters">
	<div class="label">Show</div>
	<div class="filter">
		<%= check_box_tag 'state' %> <%= label_tag 'state', 'Only alive hosts' %>
	</div>
	<div class="filter">
		<%= check_box_tag 'state' %> <%= label_tag 'state', 'Only hosts with sessions' %>
	</div>
</div>
