.empty-message {
  text-align: center;
  line-height: 350px;
}


.foundation {
  .spacer {
    min-height: 1px;
  }
}

.hide-input {
  visibility: hidden;
  position:absolute;
}

#exception-push {

  .exception-settings {
    padding: 10px 0px 10px 0px;
    background-color: #F2F2F2;

    .header>div {
      border-bottom: 1px solid #a9a9a9;
      height: 20px;
      padding-bottom:35px;
    }
  }

  .content {
    min-height: 400px;
  }

  .exception-settings-line {
    background-color: #F2F2F2;
  }


  .vuln-exception {
    margin-top: 20px;
    .header {
      .name {
        font-size: 14px;
      }
    }

    table {
      border-bottom: 1px solid black;
      width: 100%;

      tr:first-child {
        border-bottom: 1px solid black;
      }

      td,th {
        padding: 10px 0px 10px 0px;
        .result_code{
          width: 140px;
        }
      }

      tr.even {
        background-color: #F8F8F8;
      }
    }
  }
}

