<div class="text_link_row">
  <%= link_to("Download example template", workspace_report_template_simple_download_path(@workspace), :class => "none") %> |
  <%= link_to("Download Jaspersoft Studio", "http://community.jaspersoft.com/project/jaspersoft-studio", :class => "none", :target => "metasploit" ) %>
</div>

