  <div class='header'>
   <h2>Get Free Upgrade to Try Bruteforcing</h2> 

    <p>
      Exploitation may be the sexiest way to break into a network, but bruteforcing and recycling credentials is often more practical. However, using a collection of tools can be time consuming because no single tool covers both online bruteforcing and offline cracking features across all required services.
       
      With Metasploit Pro’s bruteforce feature, you test more than a dozen network services using SMB, database, web, secure shell, telnet, FTP, and remote management protocols – all with one button. To reduce room for human error, each service is clearly marked with the potential lockout risk.
    </p>

  </div>
  
  <div class="right-content">
    <%= image_tag image_path('upsell/bruteforce.jpg') %>
  </div>
  
  <p>
    <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
  </p>

  <%= render :partial => 'generic/upsell/footer' %>