  <div class='header'>
   <h2>Get Free Upgrade to Try Evidence Collection</h2> 

    <p>
      Your social engineering campaign or server exploit was successful – but you've gone out for lunch? Metasploit Pro post-exploitation macros save you time and increase your productivity by automatically launching post-exploitation measure when Metasploit compromises a host. Actions include collecting passwords, taking screenshots, and installing keyloggers.
    </p>

  </div>
  
  <div class="right-content">
    <%= image_tag image_path('upsell/collect.jpg') %>
  </div>

  <p>
    <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
  </p>

  <%= render :partial => 'generic/upsell/footer' %>