<div class='header'>
  <h2>Get Free Upgrade to Try MetaModules</h2>

  <p>
    Many security testing techniques are either based on cumbersome tools or require custom development, making them
    expensive to use.
  </p>

  <p>
    To expedite this testing, Metasploit Pro is introducing MetaModules, which automate common yet complicated security
    tests that provide under-resourced security departments a more efficient way to get the job done.
  </p>

</div>

<div class="right-content">
  <div class="table-cell-container" style="width:400px;">
    <div class="table-cell" style="height:300px;">
      <%= image_tag image_path('upsell/metamodules.jpg') %>
    </div>
  </div>
</div>

<p>
  <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
</p>

<%= render :partial => 'generic/upsell/footer' %>