<div class='dynamic_payload_form body-disabled-overlay'>
  <div class='page payload_options container'>
    <h2>Get Free Upgrade to Try the AV Evasion Payload Generator</h2>

    <p>
      Anti-virus solutions often catch payloads as you’re trying to compromise a machine. Metasploit Pro’s Payload Generator creates polymorphic payloads that go a long way in evading both anti-virus solutions and intrusion prevention systems (IPS).
    </p>


    <p>
      This saves you many frustrating hours of obfuscating or creating payloads and testing if they successfully avoid detection.
    </p>

    <!-- <div class="right-content">
      <div class="table-cell-container" style="width:400px;">
        <div class="table-cell" style="height:300px;">
          <img src="<%= image_path('upsell/metamodules.jpg') %>" />
        </div>
      </div>
    </div> -->

    <div class='upgrade'>
      <p>
        <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
      </p>

      <%= render :partial => 'generic/upsell/footer' %>
    </div>
  </div>
</div>
