  <div class='header'>
   <h2>Get Free Upgrade to Try Reporting</h2>

    <p>
      Writing reports is a time-consuming cut-and-paste chore at the end of every engagement, outlining which machines were compromised, showing the evidence, and how the results map to compliance requirements.
 
      With Metasploit Pro, you can automate much of this process. You can generate reports for various audiences, such as executives, auditors, compliance managers, or IT. If the standard report is what you need, then you’re already done. If you’d like to add your own comments to the report, you can generate it as a Word document and go from here. While you’re conducting the penetration test, you can also tag hosts you’d like to highlight or add notes to be included in reports.
    </p>

  </div>
  
  <div class="right-content">
    <div class="table-cell-container" style="width:400px;">
      <div class="table-cell" style="height:380px;">
        <%= image_tag image_path('upsell/report.jpg') %>
      </div>
    </div>
  </div>

  <p>
    <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
  </p>

  <%= render :partial => 'generic/upsell/footer' %>