  <div class='header'>
   <h2>Get Free Upgrade to Try Re-running Sessions</h2> 

    <p>
      After you have patched a system or implemented a compensating control, how do you know that a system is now secure? Metasploit Pro enables you to re-run the action that previously compromised a machine so you can validate that the remediation was successful. You'll be sure that you don't have a false sense of security.
    </p>

  </div>
  
  <div class="right-content">
    <div class="table-cell-container" style="width:400px;">
      <div class="table-cell" style="height:300px;">
        <%= image_tag image_path('upsell/replay.jpg') %>
      </div>
    </div>
  </div>

  <p>
    <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
  </p>

  <%= render :partial => 'generic/upsell/footer' %>