  <div class='header'>
   <h2>Get Free Upgrade to Try Task Chains</h2> 

    <p>
      Many drive-by attacks have become automated, so security professionals are at a disadvantage if they don't follow suit. With Metasploit Pro you can become more productive using task chains: 

      Set up custom workflows without having to write a single line of code. Task chains can be scheduled to run manually, once, or at scheduled intervals. Complete simple tasks or entire penetration tests, and have the reports sent to you by email after the workflow has completed.
    </p>

  </div>
  
  <div class="right-content">
    <div class="table-cell-container" style="width:400px;">
      <div class="table-cell" style="height:300px;">
        <%= image_tag image_path('upsell/task-chain.jpg') %>
      </div>
    </div>
  </div>

  <p>
    <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
  </p>

  <%= render :partial => 'generic/upsell/footer' %>