  <div class='header'>
   <h2>Get Free Upgrade to Try Web App Testing</h2>

    <p>
      Web applications can contain a wealth of confidential data, such as customer records, financial data, or
      intellectual property. Metasploit Pro’s Web app testing covers Open Web Application Security Project (OWASP)
      Top 10 2013. The list identifies ten of the most critical risks relating to web applications. Metasploit
      addresses this, enabling organizations to audit the security of their web-based applications, whether they
      be out of the box or custom, on-premise or in the cloud. This helps security professionals identify issues
      before a malicious attacker does. Learn more about what's new in our OWASP Top 10 2013
      <a href="https://community.rapid7.com/community/metasploit/blog/2013/04/30/webcast-qa-owasp-top-10-and-web-app-scanning-webcast" target="_blank">webcast</a>.
    </p>

  </div>
  
  <div class="right-content">
    <div class="table-cell-container" style="width:400px;">
      <div class="table-cell" style="height:340px;">
        <%= image_tag image_path('upsell/web-app.jpg') %>
      </div>
    </div>
  </div>

  <p>
    <a href="<%= get_upgrade_url %>" class="mainBtn downloadBtn" title="Download"><em></em>GET YOUR FREE UPGRADE TRIAL NOW</a>
  </p>

  <%= render :partial => 'generic/upsell/footer' %>