<div class='dialog formtastic landing-popup' style='display: none;'>
  <li class="string input required stringish" style="margin-top: 15px;">
    <label class="label" for="campaign-link-name">
      Text<abbr title="required">*</abbr>
    </label>
    <input maxlength="255" name="campaign-link-name" type="text">
  </li>
  <div class='spoof' style='padding:14px 0 18px 35px;background:#f0f0f0;'>
    <label style='width: auto; float: none; text-align: left;'>
      <input type='checkbox' name='spoof-hover' />
      Spoof hover text to display URL:
    </label>
    <input style='margin:6px 0 0 5px;' type='text' name='hover-text' placeholder='http://example.com' />
  </div>
</div>
