<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>Forbidden (403)</title>
	<style type="text/css">
		body {
			background-color: #7CD4F4;
			color: #666;
			text-align: center;
			font-family: helvetica, arial, sans-serif;
			font-size: 14px;
			line-height: 20px;
		}
		div.dialog {
			background-color: #EDEDED;
			width: 30em;
			padding: 0.5em 4em;
			margin: 4em auto 0 auto;
		}
		h1 {
			font-size: 18px;
			line-height: 1.5em;
			color: #AE1F24;
			color: #AE1F24;
		}
	</style>
</head>

<body>
	<div class="dialog">
		<h1>Access Denied</h1>

		<p><%=h yield %></p>

		<p><a href="/">Return</a> to Metasploit</p>
	</div>
</body>
</html>
