<% title "Listener - Modify" %>
<% breadcrumb link_to("Global Settings", settings_path), link_to("Listeners", listeners_path), link_to("Modify", edit_listener_path(@listener)) %>


<% include_view_javascript -%>

<% content_for :header_buttons do %>
	<span class="btn">
		<%= link_to "Back to Listeners", listeners_path, :class => "back" %>
	</span>
<% end %>

<h1>Listener: <%=h @listener.name %> (<%=h @listener.status %>)</h1>

<%= render 'edit_fields', :listener => @listener %>

