<div class='graph'>
  <div class='please-wait'>
    <div class='middle'><%= image_tag('icons/silky/information.png') %> Waiting for initial nodes...</div>
  </div>
</div>
<div class='host-info-region'>
</div>
