<h1>Activate Your Metasploit License</h1>

<div id="registration-steps" class="clearfix">
	<div id="request" class="step">
		Request a Key
	</div>
	<div id="activate" class="step">
		Activate
	</div>
	<div id="success" class="step">
		Success
	</div>
</div>
