<% title "Nexpose Console - Modify" %>
<% breadcrumb link_to("Global Settings", settings_path), link_to("Nexpose Consoles", nexpose_consoles_path), link_to("Modify", edit_nexpose_console_path(@console)) %>


<% include_view_javascript -%>

<% content_for :header_buttons do %>
	<span class="btn">
		<%= link_to "Back to Nexpose Consoles", nexpose_consoles_path, :class => "back" %>
	</span>
<% end %>

<h1>Nexpose Console: <%=h @console.name %></h1>

<%= render 'edit_fields', :console => @console %>

