<div class="notification-center-container hidden">
  <div class="notification-nub"></div>
  <div id="notification-center-region"></div>
</div>

<meta name='last-known-message' content='<%= last_known_notification_id %>' >