<div class='form-header'>
  <h3 class="max-width">New Web Template</h3>
</div>


<%= semantic_form_for(@web_template, :url => workspace_social_engineering_web_templates_path(@workspace)) do |f| %>
  
  <%= render 'form', :f => f %>
<% end %>
