<div class='row tab-header'>
  <div class='cell selected' style='width: 33%;' id='campaign-configure-tab'>
    <label class='title'>
      Configure a Campaign
    </label>
    <label>
      Create or edit a campaign
    </label>
  </div>  
  <div class='cell' style='width: 34%;' id='campaign-manage-tab'>
    <label class='title'>
      Manage Campaigns
    </label>
    <label>
      View existing campaigns and campaign findings
    </label>
  </div>
  <div class='cell last' style='width: 33%; border-right: none' id='campaign-resources-tab'>
    <label class='title'>
      Manage Reusable Resources
    </label>
    <label>
      Manage and create templates and target lists
    </label>
  </div>
</div>
