<div class='campaign-server-config-div'>
  <h3 class='max-width'>Server Configurations</h3>
  <div class='list section'>
    <p class='subtext'>
      Click on a server to open its configuration page
    </p>
    <ul class="campaign-server-config-items clearfix">
      <li class="email-server-config-open-modal unconfigured">
        <a href="#"></a>
        <p>E-mail Server</p>
      </li>
      <li class="web-server-config-open-modal unconfigured">
        <a href="#"></a>
        <p>Web Server</p>
      </li>
    </ul>
  </div>
</div>