<div class='targets-table-wrap'>
  <table class='list targets-table'>
    <thead>
      <tr>
      </tr>
    </thead>
  </table>
  <div class='clearfix'></div>
  <span class='btn' style='margin-top: 10px;'>
    <a href='#' class='export'>Export Data</a>
  </span>
</div>
