<table class="sortable list" id="attempts-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Exploit</th>
      <th>Result</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% reset_cycle "rows" %>
  <% @vuln.vuln_attempts.each do |att| %>
    <tr>
      <td><%= att.module.to_s %></td>
      <td><%= att.username.to_s %></td>
      <td><%= att.exploited ? "Exploited" : "Failed: #{att.fail_reason}" %></td>
      <td width="30">
        <%= att.attempted_at.to_s %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
